@use "assets/styles/helpers/functions";

.action-button__wrapper {
    position: relative;
    display: inline-block;
}

.action-button__wrapper {
    position: relative;
    z-index: 5;
    width: max-content;

    &:has(.action-button--full-width) {
        width: 100%;
    }
    .action-button {
        width: 100%;
    }
}

a.action-button,
button.action-button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--base-gap);
    padding: var(--base-padding) calc(var(--base-padding) * 2);
    font-weight: var(--font-weight-medium);
    border: functions.rem(1) solid var(--black);
    border-radius: var(--inner-radius);
    background-color: var(--accent-color);
    position: relative;
    cursor: pointer;
    color: var(--white);
    transition: all var(--transition);

    &:not(:disabled):hover {
        background-color: var(--hover-color);
        box-shadow: functions.rem(3) functions.rem(5) 0 0 var(--black);
        translate: 0 functions.rem(-4);
    }

    &:disabled,
    &:active {
        opacity: 0.7;
    }

    &[aria-disabled="true"] {
        pointer-events: none;
    }

    &--full-width {
        width: 100%;
    }

    &--white {
        background-color: var(--white);
        color: var(--black);

        svg path {
            fill: var(--black);
        }

        &:not(:disabled):hover {
            background-color: var(--white);
        }

        &:hover {
            color: var(--black) !important;
        }
    }

    &--active {
        svg path {
            fill: var(--black);
        }

        box-shadow: functions.rem(3) functions.rem(5) 0 0 var(--black);
        translate: 0 functions.rem(-4);
    }

    &--extra {
        background-color: unset;
        border: unset;
        text-decoration: underline;
        color: var(--primary-color);

        &:not(:disabled):hover {
            background-color: unset;
            color: unset;
            box-shadow: unset;
        }
    }
}

@media screen and (max-width: 639px) {
    a.action-button,
    button.action-button {
        font-size: functions.rem(16);
    }
}

.social-menu {
    position: absolute;
    background: var(--white);
    border-radius: var(--inner-radius);
    padding: var(--base-padding);
    left: 50%;
    bottom: calc(100% + var(--small-margin));
    transform: translateX(-50%) translateY(var(--base-padding)) scale(0.95);
    width: max-content;
    color: var(--black);
    border: functions.rem(1) solid var(--secondary-color);
    box-shadow: 0 functions.rem(4) functions.rem(12) rgba(0, 0, 0, 0.08);
    opacity: 0;
    pointer-events: none;
    transition:
        opacity 300ms ease,
        transform 300ms ease;

    &.visible {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1);
        pointer-events: auto;
    }
}

.social-menu__info-text {
    display: block;
    margin-bottom: var(--large-margin);
    text-align: center;
    font-weight: var(--font-weight-medium);
    color: var(--black);
}

.social-menu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--base-gap);
    z-index: var(--z-popover);

    @media screen and (max-width: 350px) {
        grid-template-columns: 1fr;
    }
}

.social-menu__item {
    all: unset;
    display: flex;
    align-items: center;
    gap: calc(var(--base-gap) / 2);
    padding: calc(var(--base-padding) / 2) var(--base-padding);
    cursor: pointer;
    border-radius: var(--inner-radius);
    text-align: left;
    transition: color 300ms ease;
    color: var(--black);
}

.social-menu__item:hover {
    color: var(--accent-color);
}

.social-media-icon-wrapper {
    width: functions.rem(32) !important;

    @media screen and (max-width: 639px) {
        width: functions.rem(24) !important;
    }
}
