@use "assets/styles/helpers/functions";

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-layout);
    &--hidden {
        transform: translateY(functions.rem(-100));
    }
}
