@use "assets/styles/helpers/functions";

.nav {
    position: relative;
    display: flex;
    gap: var(--base-gap);
}

.nav-link {
    color: var(--text-color);
    transition: all var(--transition);
    border-bottom: functions.rem(0) solid var(--accent-color);
    font-weight: var(--font-weight-bold);

    &:hover {
        color: var(--hover-color);
    }

    &--active {
        color: var(--white);
    }
}

.follower {
    position: absolute;
    bottom: calc(var(--base-padding) / -2);
    height: functions.rem(2);
    background: var(--accent-color);
    transition: all var(--transition);

    &--hidden {
        opacity: 0;
        visibility: hidden;
    }
}
