.loadingBanner {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 5;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -20rem;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
        animation: shimmer 3s infinite;
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(100%);
    }
}

.loadingContent {
    position: relative;
    z-index: 6;
    padding: 0 1rem;
}

.under-wrapper {
    width: 100%;
    height: 100%;
}
