@use "assets/styles/helpers/functions";

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - functions.rem(250));
    padding: var(--base-padding);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: functions.rem(4);
}

.error-code {
    font-size: functions.rem(288);
    font-weight: var(--font-weight-bold);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
    color: var(--white);
    line-height: 1;
}

.logo-image {
    width: functions.rem(228);
    margin-top: functions.rem(28);
}

.description {
    text-align: center;
    width: min(100%, functions.rem(500));
}

@media screen and (max-width: 1280px) {
    .error-code {
        font-size: functions.rem(196);
        line-height: 1;
    }

    .logo-image {
        width: functions.rem(156);
        margin-top: functions.rem(16);
    }
}

@media screen and (max-width: 639px) {
    .error-code {
        font-size: functions.rem(96);
        line-height: 1;
    }

    .logo-image {
        width: functions.rem(80);
        margin-top: functions.rem(-2);
    }
    .description {
        width: min(100%, functions.rem(350));
    }
}