@use "assets/styles/helpers/functions";

.alert-wrap {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    z-index: calc(var(--z-top) + 1);
    width: 100%;
    height: 0;
    transition: all 300ms ease;

    &--blurred {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        height: 100%;

        .alert {
            scale: 1.5;
        }
    }
}

.alert {
    position: fixed;
    z-index: calc(var(--z-top) + 1);
    display: block;
    border: functions.rem(1) solid transparent;
    border-bottom-color: var(--accent-color);
    background-color: var(--secondary-color);
    color: var(--white);
    border-radius: var(--inner-radius);
    opacity: 0;
    visibility: hidden;
    min-width: functions.rem(250);
    max-width: functions.rem(500);
    transition: all 300ms ease;
}

.alert--active {
    opacity: 1;
    visibility: visible;
}

.alert--top {
    top: var(--base-padding);
    bottom: auto;
}

.alert--bottom {
    bottom: var(--base-padding);
    top: auto;
}

.alert--left {
    left: var(--base-padding);
    right: auto;
}

.alert--right {
    right: var(--base-padding);
    left: auto;
}

.alert--center-x {
    left: 50%;
    transform: translateX(-50%);
}

.alert--center-y {
    top: 50%;
    transform: translateY(-50%);
}

.alert--top.alert--center-x {
    top: var(--base-padding);
    left: 50%;
    transform: translateX(-50%);
}

.alert--bottom.alert--center-x {
    bottom: var(--base-padding);
    left: 50%;
    transform: translateX(-50%);
}

.alert--center-x.alert--center-y {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert--top.alert--left {
    top: var(--base-padding);
    left: var(--base-padding);
    transform: none;
}

.alert--top.alert--right {
    top: var(--base-padding);
    right: var(--base-padding);
    transform: none;
}

.alert--bottom.alert--left {
    bottom: var(--base-padding);
    left: var(--base-padding);
    transform: none;
}

.alert--bottom.alert--right {
    bottom: var(--base-padding);
    right: var(--base-padding);
    transform: none;
}

.alert--bottom.alert--center-x {
    bottom: var(--base-padding);
    left: 50%;
    transform: translateX(-50%);
}

.alert--top.alert--center-x {
    top: var(--base-padding);
    left: 50%;
    transform: translateX(-50%);
}

.alert--error {
    background-color: var(--error-background);
    color: var(--error-color);
}

.alert-content {
    position: relative;
    display: block;
    padding: var(--base-padding);
    overflow-y: auto;
    max-height: functions.rem(300);

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}
