:root {
    --black: #000000;
    --white: #ffffff;

    --accent-color: #1a2ffb;
    --hover-color: #3b79ff;
    --base-color: #ffffff;
    --secondary-color: #F0F0F0;
    --text-color: rgba(0, 0, 0, 0.85);
}
