@use "assets/styles/helpers/variables";
@use "assets/styles/helpers/functions";

:root {
    --scroll-width: 0px;

    /* Base font-size */
    --base-fz: 16;

    --f-min: 12;
    --f-min-px: 12px;
    --f-max: 16;

    --vw-min: 1024;
    --vw-min-px: 1024px;
    --vw-max: 1920;

    --font: "Golos Text", sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    @media (max-width: variables.$tablet-view) {
        /* Base font-size */
        --base-fz: 16;

        --f-min: 12;
        --f-min-px: 12px;
        --f-max: 16;

        --vw-min: 768;
        --vw-min-px: 768px;
        --vw-max: 1280;
    }

    @media (max-width: variables.$mobile-view), (max-height: 500px) {
        /* Base font-size */
        --base-fz: 14;

        --f-min: 14;
        --f-min-px: 14px;
        --f-max: 14;

        --vw-min: 360;
        --vw-min-px: 360px;
        --vw-max: 768;

        --btn-width: 100%;
    }
}
